@import 'tailwindcss';

body {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
#root {
    background-color: var(--color-slate-100);
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    @apply lg:grid lg:place-items-center;
}

@font-face {
    font-family: 'plusJakarta';
    src: url('../public/assets/fonts/PlusJakartaSans-VariableFont_wght.woff2'),
        url('../public/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}


@theme {
    --color-lime: hsl(61, 70%, 52%);
    --color-lime-bg: hsla(61, 70%, 52%, .3);
    --color-red: hsl(4, 69%, 50%);
    --color-white: hsl(0, 0%, 100%);
    --color-slate-100: hsl(202, 86%, 94%);
    --color-slate-300: hsl(203, 41%, 72%);
    --color-slate-500: hsl(200, 26%, 54%);
    --color-slate-700: hsl(200, 24%, 40%);
    --color-slate-900: hsl(202, 55%, 16%);

    --text-preset-1: 2.5rem;
    --text-preset-2: 1.5rem;
    --text-preset-3: 1.125rem;
    --text-preset-4: 1rem;
    --text-preset-5: .875rem;

    --font-plusJakarta: plusJakarta, sans-serif;
}

.wrapper__body {
    @apply w-full max-w-172 grid place-items-center mx-auto md:py-10 lg:grid-cols-2 lg:max-w-252 lg:h-151.5 lg:p-0 lg:bg-white lg:rounded-3xl;
}

.btn__reset {
    @apply text-slate-700 text-preset-4 capitalize cursor-pointer hover:text-slate-900 hover:underline hover:underline-offset-4 focus-within:text-slate-900 focus-within:underline focus-within:underline-offset-4
}

.form__label {
    @apply text-slate-700 text-preset-4 font-medium leading-none;
}

.label__inputs {
    @apply max-h-12 flex items-center outline rounded-xl hover:cursor-pointer;
}

.label__inputs:focus-within {
    outline-color: var(--color-lime);
}

.label__inputs:focus-within .input__items {
    background-color: var(--color-lime);
}

.input__items {
    @apply min-h-12 text-preset-3 font-bold flex items-center justify-center;
}

.inputs__preset {
    @apply appearance-none text-preset-3 text-slate-900 font-bold px-3 w-full hover:cursor-pointer;
}

.inputs__preset::-webkit-outer-spin-button,
.inputs__preset::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.inputs__radio:has([type="radio"]) {
    position: relative;

    & label::after {
        content: '';
        position: absolute;
        inset: 0;
        cursor: pointer;
    }
}

.inputs__radio {
    @apply flex items-center justify-start gap-4 px-4 py-3 outline outline-slate-500 rounded-xl;
}

.inputs__radio:focus-within {
    @apply outline-2 outline-lime;
}

.inputs__radio:has([type="radio"]:checked) {
    background-color: var(--color-lime-bg); 
    outline: 2px solid var(--color-lime);
}

.type__radio {
    accent-color: var(--color-lime);
    inline-size: 1.5rem;
    block-size: 1.5rem;
}

